@tailwind base;
@tailwind components;
@tailwind utilities;

.labeledInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.labeledInput input{
    border-radius: 0.25rem;
}

a {
    cursor: pointer;
}

.linkButton{
    display: flex;
    align-items: center;
    border: solid 1px;
    padding: 0.5rem;
    color: gray;
    border-color: gray;
    border-radius: 0.25rem;
    transition: all 0.2s;
    cursor: pointer;
}

.linkButton svg{
    margin-right: 0.25rem;
}
